@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100;
    background-color: beige;
    margin-top: 10px;
}

.box{
    position: relative;
    width: 450px;
    height: 550px;
    background-color: blueviolet;
    box-shadow: 25px 25px 75px rgb(200, 200, 208);
    border-radius: 30px;
    padding: 30px 50px;
}

h2{
    width:100% ;
    font-weight: 600;
    text-align: center;
    font-size: 1.75em;
    margin-bottom: 10px;
}

#inputBx{
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    padding: 15px 20px;
    border-radius: 30px;
    font-size: 1em;
}

.box li{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    background-color: rgb(222, 210, 210);
    padding: 10px;
    /* min-height: 45px; */
    cursor: pointer;
    border-radius: 22.5px;
}
.box li
.box li.done{
    background-color: brown;
}








