ul{
    list-style: none;
}
li{
    list-style: none;
}
 tr:nth-child(odd) td {
    background: green
}
tr:nth-child(even)td {
    background: black
}
  th, td{
    border: 1px solid black;
    padding: 10px;
    /* width: 50%; */
    border-collapse: collapse;
}
table{
    margin-top: 30px;
    border-collapse: collapse;
    padding: 20px;
    width: 100%;
}
th{
    border: 1px solid;
}
#table {
    display: none;
}

td :nth-child(even){
    background: rgb(163, 156, 156);
}